@charset "UTF-8";
/* CSS Document */

html, body {
	height:100%;
	background-color:#ffffff;
}

* {
	padding:0;
	margin:0;
	border:0;
	font-family:Arial, Helvetica, sans-serif;
}
body {

}
#wrapper2way {
	position:absolute;
	z-index:1;
	top:0px;
	bottom:0;
	width:320px;
	
	overflow:hidden;
}
#slider2way {
	position:relative;
	z-index:1;
	float:left;
	width:3072px;
	
	-webkit-transform:translate3d(0, 0, 0);
}
.panel {
	/**
	Pagr is one of the panels
	**/
	-webkit-box-sizing:border-box;
	position:relative;
	z-index:2;
	display:block;
	float:left;
	width:320px;
	padding:1px;
	-webkit-transform:translate3d(0, 0, 0);
}

/**
Recipe
**/


.recipe img{	
	position:relative;
}
.story{
top:-2684px;	
}


.cover{
top:0px;	
}


.instructions{
top:-4px;	
}



 @media only screen and (orientation: landscape) {
#wrapper2way {
	width:1024px !important;
}
#slider {
	width:4096px !important;
}
.scrollerwrapper {
	width:1024px !important;
}
}
.wrapper {
	position:absolute;
	height:460px;
	top:0px;
	bottom:0px;
	width:33%;
	overflow:auto;
}
#wrapper1,#wrapper4 {
	left:0;
}
#wrapper2,#wrapper5 {
	left:33%;
}
#wrapper3,#wrapper6 {
	left:66%;

}

ul {
	list-style:none;
	width:100%;
}
li {
	width:100%;
}

.wrapper li{

width:100%;
backgournd-color:#ff0000;


background-size:100%;
 -webkit-box-sizing:border-box;
 font-size:0.4em;
}